@import '_variables.css';

body{
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--emailSignupBackground);
}

a , a:hover , a:active {
    text-decoration: none;
    color: var(--lightGrey);
} 

span{
    display: inline-flex;
    padding-right: 15px;
}

section{
    height: 600px;
    background-color: var(--emailSignupBackground);
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-y: 200px;
}

button{
    margin-top: 15px;
    border-radius: 20px;
    border: 0;
    height: 30px;
    width: 130px;
    color: var(--white);
    font-size: 10px;
    background-image: linear-gradient(to right,var(--cyan),var(--blue));
}


