@import '_global.css';
@import '_variables.css';


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.logo{
    height: 30px;
}

.imgIntro{
  height: 300px;
}

.imgCurve{
    width: 100%;
    position:abolute;
}

.sectionImg{
    height: 50px;
}

.productiveImg{
    height: 270px;
}

.title2{
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.title3{
    color: var(--white);
    font-weight: 400;
    width: 350px;
    margin: auto;
    margin-top: 10px;
    color: var(--lightGrey);
}

.title4{
    color: var(--white);
    font-weight: 400;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    color: var(--lightGrey);
}
.titleThirdSection{
    color: var(--white);
    font-weight: 400;
    width: 350px;
    margin-top: 10px;
    color: var(--lightGrey);
}

.textThirdSection{
    margin-left: 100px;
    text-align: left;
}

.sectionTitles{
    color: var(--white);
    font-size: 15px;
    margin-top: 10px;
}

.mainSection{
    height: 600px;
    background-color: var(--emailSignupBackground);
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-y: 200px;   
}

.secondSection{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mainBackground);
    justify-content: center;
}

.sectionPart{
    margin: 10px 40px;
}

.thirdSection{
    flex:1;
    display: flex;
    background-color: var(--mainBackground);
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.aFlyo{
    margin-top: 10px;
    color:var(--cyan);
    text-decoration: underline;
}

.cards{
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
   
    flex: 2;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mainBackground);
    justify-content: center;
    border: 30px;
    
}

.card{
    width: 20%;
    height: 50%;
    margin: 20px;
    padding: 30px;
    background-color: var(--testemonialsBackground);
    color: var(--white);
    border-radius: 10px;
}

