@import '_global.css';
@import '_variables.css';


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.logo{
    height: 30px;
}

.imgIntro{
  height: 300px;
}

.imgCurve{
    width: 100%;
    position:abolute;
}

.title2{
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.title3{
    color: var(--white);
    font-weight: 400;
    width: 350px;
    margin: auto;
    margin-top: 10px;
}

